.root {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  margin: 30px;
  max-width: 500px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.productClass {
  width: 500px;
  padding: 10px;
  background-color: gray;
  border-radius: 15px;
}

.productClass h1 {
  margin: 6px 0;
}

.productClass p {
  color: aliceblue;
  background-color: #444;
  border-radius: 5px;
  padding: 10px 5px;
}

.imageContainer {
  height: 350px;
  width: 100%;
  border-radius: 15px;
  position: relative;
  background-color: white;
}

.commentsSection {
  background-color: #fffff1;
  width: 450px;
}

.commentsListClass {
  display: flex;
  justify-content: center;
  gap: 7px;
}

.comment {
  width: 95%;
  background-color: darkkhaki;
  text-align: left;
  padding: 5px 10px;
  border-radius: 5px;
  display: flex;
  flex-grow: 1;
}

.comment p {
  padding: 0;
  margin: 0;
  display: flex;
  flex-grow: 1;
  cursor: default;
}

.commentButtons {
  height: 28px;
}

.commentButtons svg {
  margin: 0 5px;
  height: 100%;
  border-radius: 5px;
  transition: 0.4s;
  cursor: pointer;
}

.editButton {
  background-color: yellow;
  color: cadetblue;
}
.editButton:hover {
  background-color: cadetblue;
  color: yellow;
}

.deleteButton {
  color: #333;
  background-color: tomato;
}

.deleteButton:hover {
  color: tomato;
  background-color: #333;
}
